.card {
  width: 100%;
  aspect-ratio: var(--game-poster-aspect-ratio);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;

  background-blend-mode: plus-darker;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.3) 100%), var(--slide-image);
}

.title {
  width: calc(100% + var(--mantine-spacing-md) * 2);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  margin-bottom: calc(var(--mantine-spacing-md) * -1);
  margin-left: calc(var(--mantine-spacing-md) * -1);
  padding: 4px var(--mantine-spacing-md) calc(4px + var(--mantine-spacing-md));
  background: var(--slide-title-background);
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.5rem;
  color: var(--slide-title-color);
  margin-top: var(--mantine-spacing-xs);
  text-shadow: var(--mantine-shadow-md);
}
